







.container{
    position: relative;
    height: 500px;

}

.container::before{
    content: '';
    inset: 0;
    background-color: rgba(8, 8, 8, 0.692);
    z-index: -1;
    position: absolute;
    
}
.wrap{
   
    padding: 100px 0;
    width: 500px;
    margin-left: 500px;
    
    z-index: 3;
    color: aliceblue; 
}

.frame{
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}


/* ---------------------------btn */

  
/* ------------------------------------- scale */
  .card {
    width: 70%;
    background-color: #fff4df;
    height: 500px;
    display: flex;
    flex-direction: column;
   padding-left: 40px;
    gap:170px;
    margin:40px auto;

  }

  .card h3{
    margin-top: 200px;
  }

  .card:hover{
    box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.089);
    transform: scale(101%);
  }
  
  .card{
    position: relative;
  overflow: hidden;
  object-fit: cover;
  

}

.card img{
  position: absolute;
  top: 0;
  left: 390px;
  height: 600px;
}

.card:hover img{

  transform: scale(110%);
  object-position: left;

}

/* ------------------------------------------------- */
.bt:focus{
  outline: none;
}

.bt{
  color: white;
  
  background-color: magenta;
  padding: 20px 50px;
  position: relative;
  border: none;
  border-radius: 30px;
}

.bt::before, .bt::after{
  content: 'Okay';
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
  
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  transform-origin: top;
}


.bt::before{
   transition-delay:0.2s ; 
}

.bt::after{
  content: 'now';
  background-color: rgb(217, 255, 0);
  color: black;
 
}

.bt:hover::before, .bt:hover::after{
  transform: rotateX(270deg);
}

.bt:hover::after{
  /* transition-delay: 0s; */
}

/* ---------------------------------------------------------------btn flip */

.bt2{
  margin: 100px;
  padding: 20px 100px ;
  border: none;
  border-radius: 40px;
  background-color: beige;
  position: relative;
  /* overflow: hidden; */
}

.bt2::before,.bt2::after{
  content: 'Dign in';
 width: 100%;
 height: 100%;
  position: absolute;
  top:0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom;
  transition: transform 0.6s;
}

.bt2::after{
  top:-20px;
  transition-delay:0.5s ;
  transform-origin: bottom;
}

.bt2:hover::before {
  transform: rotateX(270deg);
}

.bt2:hover::after{
   transform: rotateX(270deg); 
   
  
} 
/* -------------------------------------------- 3d flip */

.container{
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  
}

.box{
  position: relative;

  height:150px;
  width: 350px;
  transform-style: preserve-3d;
  transition: 0.4s ease;
}
.box:hover{
  transform: rotateX(90deg);
}
.btn{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.upside{
  /* background: radial-gradient(circle, pink, purple,rgb(108, 74, 187)); */
  background-color: black;
  transform: rotateX(-90deg) translateZ(75px);
}

.front{
  transform: translateZ(75px);
}