







.container{
    position: relative;
    height: 500px;

}

.container::before{
    content: '';
    inset: 0;
    background-color: rgba(8, 8, 8, 0.692);
    z-index: -1;
    position: absolute;
    
}
.wrap{
   
    padding: 100px 0;
    width: 500px;
    margin-left: 500px;
    
    z-index: 3;
    color: aliceblue; 
}

.frame{
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}


/* ---------------------------btn */

  
/* ------------------------------------- scale */
  .card {
    width: 70%;
    background-color: #fff4df;
    height: 500px;
    display: flex;
    flex-direction: column;
   padding-left: 40px;
    gap:170px;
    margin:40px auto;

  }

  .card h3{
    margin-top: 200px;
  }

  .card:hover{
    box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.089);
    transform: scale(101%);
  }
  
  .card{
    position: relative;
  overflow: hidden;
  object-fit: cover;
  

}

.card img{
  position: absolute;
  top: 0;
  left: 390px;
  height: 600px;
}

.card:hover img{

  transform: scale(110%);
  object-position: left;

}

/* ------------------------------------------------- */
.bt:focus{
  outline: none;
}

.bt{
  color: white;
  
  background-color: magenta;
  padding: 20px 50px;
  position: relative;
  border: none;
  border-radius: 30px;
  margin-bottom: 50px;
}

.bt::before, .bt::after{
  content: 'now';
  position: absolute;
  top: 0;
  left: 0;
 
  background-color: rgb(217, 255, 0);
  color: black;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  transform-origin: top;
}

.bt::after{
  content: 'Great';
   background-color: blue;
  transition-delay:0.2s ; 
  color: white;

 
}

.bt:hover::before, .bt:hover::after{
  transform: rotateX(270deg);
}

/* ------------------------------------------------------bt 2 */