
.hero{
   
    height: 60vh;
    color: white;
    display: flex;
    align-items: center;
    gap: 6rem;
    justify-content: center;
    

    .hero-content{
        width: 30%;
        padding-right: 2rem;
        h1{

            font-size: 4rem;
            margin-bottom: 2rem;
        }
        p{
            line-height: 1.5;
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 3rem;
        
        }   
    }

    .hero-img{
       
        // position: relative;
       width: 30%;
        height: 100%;
        
        img{
            
            position: absolute;
            top: 50%;
            
            width:35%;
            transform: translateY(-50%);
            animation: upndown 8.5s infinite ease-out;
  
         }
    }
      

   button{
        height: 35px;
        width: 100px;
        background-color: #43cec7 ;
        border: 1px solid #43cec7;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        margin-top: 4rem;
        text-transform: capitalize;
        font-size: 1.1rem;

        &:hover{
            background-color: white;
            color: #43cec7;
            border: 1px solid white;
        }
    }
}
    




@keyframes upndown {

    
  0%{
    top:55%;
  }

    50%{
        top:40%;
    }

    100%{
        top:55%;
    }
    
}
