


@import"./_nav";
@import"./_hero";
@import"./_services";
@import"./_about";
@import"./_choose";
@import"./_team";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;  
}

.bg{
    height: 85vh;
    background-image: linear-gradient(rgb(31, 20, 112), rgb(7,1,76));
}
