nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem; }
  nav p {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    padding-left: 2rem; }
  nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center; }
    nav ul li:first-child a {
      color: #00aeff; }
    nav ul a {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center; }
      nav ul a:hover, nav ul a .fa-solid:hover {
        color: #00aeff; }

.hero {
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  gap: 6rem;
  justify-content: center; }
  .hero .hero-content {
    width: 30%;
    padding-right: 2rem; }
    .hero .hero-content h1 {
      font-size: 4rem;
      margin-bottom: 2rem; }
    .hero .hero-content p {
      line-height: 1.5;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 3rem; }
  .hero .hero-img {
    width: 30%;
    height: 100%; }
    .hero .hero-img img {
      position: absolute;
      top: 50%;
      width: 35%;
      transform: translateY(-50%);
      animation: upndown 8.5s infinite ease-out; }
  .hero button {
    height: 35px;
    width: 100px;
    background-color: #43cec7;
    border: 1px solid #43cec7;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    margin-top: 4rem;
    text-transform: capitalize;
    font-size: 1.1rem; }
    .hero button:hover {
      background-color: white;
      color: #43cec7;
      border: 1px solid white; }

@keyframes upndown {
  0% {
    top: 55%; }
  50% {
    top: 40%; }
  100% {
    top: 55%; } }

.services {
  margin: 7rem auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%; }
  .services .main-heading {
    margin-bottom: 5rem;
    text-align: center; }
    .services .main-heading h2 {
      font-size: 3rem;
      text-align: center; }
      .services .main-heading h2 span {
        color: aqua;
        font-size: inherit; }
    .services .main-heading p {
      color: #202020;
      font-size: 1.1rem; }
  .services .services-cards {
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem; }
    .services .services-cards .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.062);
      width: 250px;
      text-align: center;
      border-radius: 20px;
      padding: 2rem;
      border: 2px solid #ffffff; }
      .services .services-cards .service-card a {
        margin: 3rem 0;
        text-decoration: none;
        color: #11095B;
        font-weight: 600;
        border-bottom: 1px solid #11095B;
        padding-bottom: 2px; }
        .services .services-cards .service-card a:hover {
          color: #3e33a0; }
      .services .services-cards .service-card p {
        margin-top: 1rem;
        color: #272727;
        font-weight: 300;
        line-height: 1.8;
        text-align: left;
        width: 85%; }
      .services .services-cards .service-card img {
        max-width: 70px; }
      .services .services-cards .service-card h4 {
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: #202020; }
      .services .services-cards .service-card:hover {
        border: 2px solid #9087da;
        box-shadow: 0 3px 15px rgba(95, 88, 196, 0.404); }
  .services button {
    padding: 1rem;
    width: 120px;
    background-color: #43cec7;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    margin-top: 4rem;
    text-transform: capitalize;
    font-size: 1.1rem; }
    .services button:hover {
      background-color: white;
      color: #43cec7;
      border: 1px solid #43cec7; }

.about {
  margin: 2rem auto;
  width: 100%;
  background-color: #1b0752;
  color: white;
  padding: 4rem; }
  .about .about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem; }
    .about .about-head h4 {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-transform: capitalize; }
      .about .about-head h4 span {
        font-size: inherit;
        color: #43cec7; }
    .about .about-head p {
      font-size: 1.1rem;
      width: 60%; }
  .about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 70%;
    height: 350px;
    margin-left: auto;
    margin-right: auto; }
    .about .about-container .fig {
      position: relative;
      height: 350px;
      width: 400px; }
      .about .about-container .fig img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 400px;
        animation: upndown 8.5s infinite ease-out;
        transform: translateY(-50%); }
    .about .about-container .about-content {
      width: 60%;
      padding: 1rem; }
      .about .about-container .about-content h4, .about .about-container .about-content p {
        margin-bottom: 2rem; }
      .about .about-container .about-content h4 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 800; }
      .about .about-container .about-content p {
        line-height: 1.8;
        text-align: justify; }
      .about .about-container .about-content button {
        padding: 1rem;
        width: 120px;
        background-color: #43cec7;
        border: none;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        margin-top: 2rem;
        text-transform: capitalize;
        font-size: 1.1rem; }
        .about .about-container .about-content button:hover {
          background-color: white;
          color: #43cec7; }

@keyframes upndown {
  0% {
    top: 55%; }
  50% {
    top: 40%; }
  100% {
    top: 55%; } }

.features {
  margin: 4rem auto;
  text-align: center; }
  .features h4 {
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: capitalize; }
    .features h4 span {
      font-size: inherit;
      color: aqua; }
  .features .feature-cards {
    display: flex;
    gap: 2rem;
    width: 80%;
    margin: 2rem auto; }
    .features .feature-cards .feature-card {
      padding: 3rem;
      text-align: left;
      border-radius: 20px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.062);
      display: flex;
      flex-direction: column;
      border: 1px solid #b2a9fa56;
      box-shadow: 0 3px 15px rgba(95, 88, 196, 0.116); }
      .features .feature-cards .feature-card img {
        width: 50px;
        margin-bottom: 2rem;
        align-self: center; }
      .features .feature-cards .feature-card h5 {
        align-self: center;
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        text-transform: capitalize; }
      .features .feature-cards .feature-card p {
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
        color: #252525; }
  .features button {
    padding: 1rem;
    width: 120px;
    background-color: #43cec7;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    margin-top: 4rem;
    text-transform: capitalize;
    font-size: 1.1rem; }
    .features button:hover {
      background-color: white;
      color: #43cec7;
      border: 1px solid #43cec7; }

.team {
  background-color: #3dd1d1;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem; }

h3 {
  font-size: 3rem;
  text-transform: capitalize; }
  h3 span {
    font-size: inherit;
    color: #3e159e; }

.team-cards {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between; }
  .team-cards .team-card {
    width: 150px;
    background-color: #3cb4b4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 10px;
    border-radius: 20px;
    color: white; }
    .team-cards .team-card img {
      width: 70%;
      border-radius: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

body {
  font-family: 'Open Sans', sans-serif; }

.bg {
  height: 85vh;
  background-image: linear-gradient(#1f1470, #07014c); }
